@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,latin-ext);
body, html {
  height: 100%;
  width: 100%; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

body {
  margin-top: 111px; }

.lead {
  font-size: 18px;
  font-weight: 400; }

p {
  color: #656565;
  font-weight: 400; }

/* Header */
.header {
  padding: 4px 0;
  z-index: 10000;
  border-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #d7d9da; }

.logo {
  color: #000 !important;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500; }
  .logo i {
    color: #1abc9c;
    font-size: 27px;
    margin-right: 7px; }

.navbar-nav {
  float: left;
  margin: 20px 0 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400; }

/* Slider Section */
.slider-section {
  background-color: #f4f2ef;
  display: none; }

/* Ecosystem content */
.ecosystem {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #f8f8f8; }
  .ecosystem .top-message {
    position: relative;
    /* padding-top: 80px; */
    padding-bottom: 10px;
    padding-right: 0px; }
    .ecosystem .top-message .title {
      width: 100%;
      background-color: #ddddde;
      padding: 10px 25px; }
      .ecosystem .top-message .title > h2 {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
        color: #2b2937; }
    .ecosystem .top-message .content {
      background-color: rgba(92, 109, 123, 0.7);
      padding: 10px 25px; }
      .ecosystem .top-message .content > p {
        font-size: 13px;
        margin-bottom: 10px;
        color: #fff;
        text-align: justify; }
  .ecosystem .versions-container {
    margin-left: 20px;
    padding-bottom: 15px; }
    .ecosystem .versions-container .image-link {
      position: absolute;
      width: 120px;
      height: 120px; }
    .ecosystem .versions-container .online-btn {
      top: 121px;
      left: 29px;
      background: url("../images/online.png") no-repeat center center; }
      .ecosystem .versions-container .online-btn:hover {
        background-image: url("../images/online-over.png"); }
    .ecosystem .versions-container .cloud-btn {
      top: -5px;
      left: 270px;
      background: url("../images/cloud.png") no-repeat center center; }
      .ecosystem .versions-container .cloud-btn:hover {
        background-image: url("../images/cloud-over.png"); }
    .ecosystem .versions-container .mobile-btn {
      top: 0;
      left: 100px;
      background: url("../images/mobile.png") no-repeat center center; }
      .ecosystem .versions-container .mobile-btn:hover {
        background-image: url("../images/mobile-over.png"); }
    .ecosystem .versions-container .desktop-btn {
      top: 200px;
      left: 125px;
      background: url("../images/desktop.png") no-repeat center center; }
      .ecosystem .versions-container .desktop-btn:hover {
        background-image: url("../images/desktop-over.png"); }
    .ecosystem .versions-container .lege-btn {
      position: absolute;
      width: 240px;
      height: 90px;
      top: 125px;
      left: 218px;
      background: url("../images/logo-lege.png") no-repeat center center; }
      .ecosystem .versions-container .lege-btn:hover {
        background-image: url("../images/logo-lege-over.png"); }

/* mobile ecosystem */
.mobile-ecosystem {
  padding-top: 50px; }
  .mobile-ecosystem .versions-container {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 15px; }
    .mobile-ecosystem .versions-container .image-link {
      position: absolute;
      width: 120px;
      height: 120px; }
    .mobile-ecosystem .versions-container .online-btn {
      top: 215px;
      left: 200px;
      background: url("../images/online.png") no-repeat center center; }
      .mobile-ecosystem .versions-container .online-btn:hover {
        background-image: url("../images/online-over.png"); }
    .mobile-ecosystem .versions-container .cloud-btn {
      top: 380px;
      left: 200px;
      background: url("../images/cloud.png") no-repeat center center; }
      .mobile-ecosystem .versions-container .cloud-btn:hover {
        background-image: url("../images/cloud-over.png"); }
    .mobile-ecosystem .versions-container .mobile-btn {
      top: 296px;
      left: 96px;
      background: url("../images/mobile.png") no-repeat center center; }
      .mobile-ecosystem .versions-container .mobile-btn:hover {
        background-image: url("../images/mobile-over.png"); }
    .mobile-ecosystem .versions-container .desktop-btn {
      top: 122px;
      left: 96px;
      background: url("../images/desktop.png") no-repeat center center; }
      .mobile-ecosystem .versions-container .desktop-btn:hover {
        background-image: url("../images/desktop-over.png"); }
    .mobile-ecosystem .versions-container .lege-btn {
      position: absolute;
      width: 240px;
      height: 90px;
      top: 18px;
      left: 58px;
      background: url("../images/logo-lege.png") no-repeat center center; }
      .mobile-ecosystem .versions-container .lege-btn:hover {
        background-image: url("../images/logo-lege-over.png"); }

/* About content */
.about {
  display: none;
  text-align: justify; }
  .about h2 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 46px;
    color: #666;
    font-weight: 500; }
  .about p {
    font-size: 16px;
    margin: 0 auto 12px;
    line-height: 25px; }

/* Products content */
.products {
  background: #eee;
  padding: 0 0 30px;
  color: #666; }
  .products .container {
    position: relative; }
    .products .container .product {
      margin-bottom: 90px;
      padding-top: 25px; }
      .products .container .product h4 {
        font-size: 20px;
        margin: 0px 0 15px;
        font-weight: 500;
        border-bottom: #666 solid 1px;
        padding-bottom: 20px;
        min-height: 67px; }
      .products .container .product p {
        font-size: 14px;
        line-height: 24px;
        color: #666;
        text-align: justify; }
        .products .container .product p a {
          color: #83CAFA; }
          .products .container .product p a:hover {
            color: #67F767; }
      .products .container .product .image-link {
        display: inline-block;
        width: 120px;
        height: 120px; }
      .products .container .product .online-btn {
        background: url("../images/products/online.png") no-repeat center center; }
      .products .container .product .desktop-btn {
        background: url("../images/products/desktop.png") no-repeat center center; }
      .products .container .product .mobile-btn {
        background: url("../images/products/mobile.png") no-repeat center center; }
      .products .container .product .cloud-btn {
        background: url("../images/products/cloud.png") no-repeat center center; }

/* Features content */
.features {
  padding: 30px 0 30px;
  background: #eee; }
  .features .container {
    position: relative; }
    .features .container .feature {
      overflow: hidden;
      display: block;
      float: left;
      position: relative;
      -ms-transform: scale(1, 1) translate(0px, 0px);
      /* IE 9 */
      -webkit-transform: scale(1, 1) translate(0px, 0px);
      /* Chrome, Safari, Opera */
      transform: scale(1, 1) translate(0px, 0px);
      -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
      transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
      .features .container .feature .blue {
        background: url("../images/blue-more.png") repeat center center; }
      .features .container .feature .green {
        background: url("../images/green.png") repeat center center; }
      .features .container .feature .red {
        background: url("../images/red-more.png") repeat center center; }
      .features .container .feature .magenta {
        background: url("../images/magenta-more.png") repeat center center; }
      .features .container .feature .front {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        cursor: hand; }
        .features .container .feature .front img {
          filter: none;
          -webkit-filter: grayscale(0%);
          -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
          transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature .front .title-box {
          position: absolute;
          overflow-y: hidden;
          text-align: justify; }
          .features .container .feature .front .title-box h4 {
            font-size: 18px;
            line-height: 18px;
            text-align: left;
            font-weight: 500;
            padding-top: 0;
            padding-bottom: 0;
            color: #fff; }
          .features .container .feature .front .title-box p {
            font-size: 13px;
            font-weight: 300;
            line-height: 15px;
            text-align: justify;
            color: #fff; }
        .features .container .feature .front .more {
          color: white;
          text-align: center;
          position: absolute; }
      .features .container .feature .back {
        position: relative;
        background-color: #ccc; }
        .features .container .feature .back .description-box {
          padding: 8px 8px; }
          .features .container .feature .back .description-box h4 {
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 17px;
            line-height: 17px;
            font-weight: 500;
            padding-top: 0px;
            padding-bottom: 7px;
            color: #fff; }
          .features .container .feature .back .description-box p {
            font-size: 12px;
            font-weight: 300;
            line-height: 15px;
            text-align: justify;
            color: #fff;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-bottom: 3px; }
          .features .container .feature .back .description-box a.more {
            float: right;
            color: white;
            font-size: 11px;
            font-weight: 500; }
            .features .container .feature .back .description-box a.more:hover {
              color: #ddd; }
      .features .container .feature.big {
        width: 252px;
        height: 252px;
        -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
        transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature.big .front {
          max-height: 252px;
          -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
          transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.big .front img {
            width: 252px;
            height: auto; }
          .features .container .feature.big .front .title-box {
            width: 92%;
            height: 110px;
            bottom: 10px;
            padding: 0 10px;
            margin: 0 10px;
            -ms-transform: scale(1, 1) translate(0px, 0px);
            /* IE 9 */
            -webkit-transform: scale(1, 1) translate(0px, 0px);
            /* Chrome, Safari, Opera */
            transform: scale(1, 1) translate(0px, 0px);
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
            .features .container .feature.big .front .title-box h4 {
              margin-bottom: 5px;
              margin-top: 5px; }
          .features .container .feature.big .front .more {
            width: 0px;
            height: 0px;
            line-height: 0px;
            bottom: 9px;
            right: 9px;
            font-size: 0px;
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.big .front:hover .title-box {
            -ms-transform: scale(0.8, 0.8) translate(-20px, 0px);
            /* IE 9 */
            -webkit-transform: scale(0.8, 0.8) translate(-20px, 0px);
            /* Chrome, Safari, Opera */
            transform: scale(0.8, 0.8) translate(-20px, 0px);
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.big .front:hover .more {
            width: 35px;
            height: 88px;
            line-height: 88px;
            bottom: 20px;
            right: 9px;
            font-size: 40px;
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature.big .back {
          height: 252px; }
        .features .container .feature.big:hover {
          z-index: 10;
          -ms-transform: scale(1.1, 1.1) translate(0px, 0px);
          /* IE 9 */
          -webkit-transform: scale(1.1, 1.1) translate(0px, 0px);
          /* Chrome, Safari, Opera */
          transform: scale(1.1, 1.1) translate(0px, 0px);
          -webkit-transition: all 0.3s cubic-bezier(0, 1, 1, 1);
          transition: all 0.3s cubic-bezier(0, 1, 1, 1); }
      .features .container .feature.medium {
        width: 252px;
        height: 126px;
        -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
        transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature.medium .front {
          max-height: 126px;
          -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
          transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.medium .front img {
            width: 252px;
            height: auto; }
          .features .container .feature.medium .front .title-box {
            width: 92%;
            bottom: 10px;
            padding: 0 10px;
            margin: 0 10px;
            height: 60px; }
            .features .container .feature.medium .front .title-box h4 {
              line-height: 22px; }
            .features .container .feature.medium .front .title-box p {
              display: none; }
          .features .container .feature.medium .front .more {
            width: 0px;
            height: 0px;
            line-height: 0px;
            bottom: 9px;
            right: 9px;
            font-size: 0px;
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.medium .front:hover .title-box {
            -ms-transform: scale(0.8, 0.8) translate(-20px, 0px);
            /* IE 9 */
            -webkit-transform: scale(0.8, 0.8) translate(-20px, 0px);
            /* Chrome, Safari, Opera */
            transform: scale(0.8, 0.8) translate(-20px, 0px);
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.medium .front:hover .more {
            width: 35px;
            height: 50px;
            line-height: 50px;
            bottom: 15px;
            right: 9px;
            font-size: 40px;
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature.medium .back {
          height: 126px; }
        .features .container .feature.medium:hover {
          z-index: 10;
          -ms-transform: scale(1.1, 1.1) translate(0px, 0px);
          /* IE 9 */
          -webkit-transform: scale(1.1, 1.1) translate(0px, 0px);
          /* Chrome, Safari, Opera */
          transform: scale(1.1, 1.1) translate(0px, 0px);
          -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
          transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
      .features .container .feature.small {
        width: 126px;
        height: 126px;
        -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
        transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature.small .front {
          max-height: 126px;
          -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
          transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.small .front img {
            width: 168px;
            height: auto; }
          .features .container .feature.small .front .title-box {
            width: 82%;
            bottom: 10px;
            padding: 0 10px;
            margin: 0 10px;
            height: 50px; }
            .features .container .feature.small .front .title-box h4 {
              font-size: 17px;
              line-height: 19px;
              margin-top: 5px; }
            .features .container .feature.small .front .title-box p {
              display: none; }
          .features .container .feature.small .front .more {
            width: 0px;
            height: 0px;
            line-height: 0px;
            bottom: 9px;
            right: 9px;
            font-size: 0px;
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.small .front:hover .title-box {
            -ms-transform: scale(0.8, 0.8) translate(-20px, 0px);
            /* IE 9 */
            -webkit-transform: scale(0.8, 0.8) translate(-20px, 0px);
            /* Chrome, Safari, Opera */
            transform: scale(0.8, 0.8) translate(-20px, 0px);
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
          .features .container .feature.small .front:hover .more {
            width: 26px;
            height: 40px;
            line-height: 40px;
            bottom: 15px;
            right: 9px;
            font-size: 24px;
            -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
            transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
        .features .container .feature.small .back {
          height: 126px; }
        .features .container .feature.small:hover {
          z-index: 10;
          -ms-transform: scale(1.2, 1.2) translate(0px, 0px);
          /* IE 9 */
          -webkit-transform: scale(1.2, 1.2) translate(0px, 0px);
          /* Chrome, Safari, Opera */
          transform: scale(1.2, 1.2) translate(0px, 0px);
          -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
          transition: all 0.5s cubic-bezier(0, 1, 1, 1); }
      .features .container .feature.none {
        width: 0;
        height: 0; }
        .features .container .feature.none .front {
          max-height: 0px; }
          .features .container .feature.none .front img {
            width: 0;
            height: auto; }
        .features .container .feature.none .back {
          height: 0px; }
          .features .container .feature.none .back .description-box .close {
            width: 0px;
            height: 0px;
            font-size: 0px; }
      .features .container .feature.selected .front {
        max-height: 0; }
    .features .container:hover .feature:not(:hover) .front img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */
      -webkit-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
      transition: all 0.5s cubic-bezier(0, 1, 1, 1); }

/* Gallery content */
.gallery {
  padding: 30px 0 30px; }
  .gallery .shot-wrap {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; }
    .gallery .shot-wrap img {
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
    .gallery .shot-wrap .shot-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
    .gallery .shot-wrap:hover img {
      transform: scale(1.1);
      -ms-transform: scale(1.2);
      /* IE 9 */
      -moz-transform: scale(1.2);
      /* Firefox */
      -webkit-transform: scale(1.2);
      /* Safari and Chrome */
      -o-transform: scale(1.2);
      /* Opera */
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
    .gallery .shot-wrap:hover .shot-img {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }

/* Misc Style  */
.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.extra-padding {
  padding-bottom: 56px;
  padding-top: 12px; }

.no-margin {
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

.extra-margin {
  margin-bottom: 0px !important;
  margin-top: 12px !important; }

.min-width {
  min-width: 252px !important; }

.fixed-width {
  width: 252px !important; }

.fixed-height {
  height: 378px !important; }

.features-fixed-height {
  height: 438px !important;
  overflow: hidden; }

.container-fixed-width {
  width: 1038px !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.align-center {
  margin: 0 auto !important; }

/* Contact Info */
.contact {
  color: #666;
  background: #eee;
  padding: 5px 0 5px; }
  .contact .contact-info {
    padding: 0px;
    width: 210px;
    margin: 0 auto;
    margin-top: 20px; }
    .contact .contact-info li {
      list-style: none;
      font-size: 18px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 600;
      margin-top: 5px;
      letter-spacing: -1px; }
    .contact .contact-info i {
      margin-right: 10px; }
  .contact .cinfo-social-buttons {
    padding: 0px;
    width: 220px;
    margin: 10px auto; }
    .contact .cinfo-social-buttons .btn {
      color: #eee;
      background-color: #666;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 3px 0;
      font-size: 22px;
      line-height: 1;
      border-radius: 15px;
      margin: 10px; }
      .contact .cinfo-social-buttons .btn:hover {
        color: #666;
        background: transparent; }
    .contact .cinfo-social-buttons.list-inline > li {
      padding-left: 0; }

/* Map Styles */
.gmap {
  padding: 0px;
  height: 400; }
  .gmapdiv {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .gmap #map {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto; }
    .gmap #map.large {
      height: 500px; }
    .gmap #map img {
      max-width: none !important;
      height: auto; }

/* Footer */
footer .copyright {
  background-color: #4a4a4a;
  padding: 15px 0; }
  footer .copyright p {
    color: white; }
  footer .copyright a {
    color: #c5c5c5; }
    footer .copyright a:hover {
      color: #fc6657; }

/* Extras */
/* General button style (reset) */
.custom-btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 10px;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .custom-btn i {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px; }

/* Button Primary Color */
.btn-primary-base {
  background: #3b99d8;
  color: #fff;
  box-shadow: 0 4px #2678bd;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* Button Primary Round Shadow */
.btn-primary-rs {
  border-radius: 5px; }
  .btn-primary-rs:hover {
    box-shadow: 0 2px #2678bd;
    top: 2px;
    color: #fff; }
  .btn-primary-rs:active {
    box-shadow: 0 0 #2678bd;
    top: 4px; }
  .btn-primary-rs:focus {
    color: #fff; }

/* Secondary Button */
.btn-secondary-base {
  background: #fc6657;
  color: #fff;
  box-shadow: 0 4px #b2483e;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* Button Secondary Round Shadow */
.btn-secondary-rs {
  border-radius: 5px; }
  .btn-secondary-rs:hover {
    box-shadow: 0 2px #b2483e;
    top: 2px;
    color: #fff; }
  .btn-secondary-rs:active {
    box-shadow: 0 0 #b2483e;
    top: 4px; }
  .btn-secondary-rs:focus {
    color: #fff; }

/* Button Tertiary */
.btn-tertiary-base {
  background: #88C25A;
  color: #fff;
  box-shadow: 0 4px #699349;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* Button Tertiary Round Shadow */
.btn-tertiary-rs {
  border-radius: 5px; }
  .btn-tertiary-rs:hover {
    box-shadow: 0 2px #699349;
    top: 2px;
    color: #fff; }
  .btn-tertiary-rs:active {
    box-shadow: 0 0 #699349;
    top: 4px; }
  .btn-tertiary-rs:focus {
    color: #fff; }

/* Button Quaternary */
.btn-quaternary-base {
  background: #882c9c;
  color: #fff;
  box-shadow: 0 4px #601f6f;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

/* Button Quaternary Round Shadow */
.btn-quaternary-rs {
  border-radius: 5px; }
  .btn-quaternary-rs:hover {
    box-shadow: 0 2px #601f6f;
    top: 2px;
    color: #fff; }
  .btn-quaternary-rs:active {
    box-shadow: 0 0 #601f6f;
    top: 4px; }
  .btn-quaternary-rs:focus {
    color: #fff; }

/* Button Styles */
.all-caps {
  text-transform: uppercase !important; }

/* colors */
.primary-text {
  color: #3b99d8 !important; }

.primary-bg {
  background: #3b99d8 !important; }

.secondary-text {
  color: #fc6657 !important; }

.secondary-bg {
  background: #fc6657 !important; }

.tertiary-text {
  color: #88C25A !important; }

.tertiary-bg {
  background: #88C25A !important; }

.quaternary-text {
  color: #882c9c !important; }

.quaternary-bg {
  background: #882c9c !important; }

.ligth-green-bg {
  background: #EEF7E7 !important; }

.ligth-red-bg {
  background: #F7E7E7 !important; }

.ligth-blue-bg {
  background: #DAE6F5 !important; }

/* equal height rows */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.custom-btn-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

/* bootstrap mod */
.list-group-item {
  padding: 6px 10px; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #9B9B9B; }

/* selection color */
/* Mozilla based browsers */
::-moz-selection {
  background-color: #e8262a;
  color: #fff; }

/* Works in Safari */
::selection {
  background-color: #e8262a;
  color: #fff; }

/* Owl top slider */
#owl-top-slider .item img {
  display: block;
  width: 100%;
  height: auto; }

/* Bootstrap 5 columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .container-fixed-width {
    width: 534px !important; }

  .fixed-height {
    height: 756px !important; }

  .features-fixed-height {
    height: 816px !important; } }
@media (max-width: 767px) {
  .container-fixed-width {
    width: 282px !important; }

  .fixed-height {
    height: 1512px !important; }

  .features-fixed-height {
    height: 1572px !important; }

  .row-eq-height {
    display: block; }

  .custom-btn-wrapper {
    position: relative; } }

/*# sourceMappingURL=style.css.map */
